* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
    flex-wrap: wrap;
    row-gap: 10px;
}

.box {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
}

.box>p {
    color: white;
}

body {
    background-color: black;
}

@media (max-width: 1240px) {
    .box {
        width: 350px;
        background-color: blue;
    }

    body {
        background-color: yellow;
    }
}

@media (max-width: 1070px) {
    .box {
        width: 300px;
        background-color: black;
    }

    body {
        background-color: red;
    }
}

@media (max-width: 930px) {
    .box {
        width: 250px;
        background-color: blue;
    }

    body {
        background-color: yellow;
    }
}

@media (max-width: 770px) {
    .box {
        width: 250px;
        background-color: coral;
    }

    body {
        background-color: purple;
    }

    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }
}
